.display-block{
    display: block;
}
.display-inline{
    display: inline;
}

.text-align-left{
    text-align: left;
}

.login-form-container {
    border: solid 1px black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 40%;
    height: 50%;
    width: 40%;
    text-align: center;
}